<% include ./partials/header.ejs %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Risolto</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="jumbotron text-center">
    <h1 class="display-3">Risolto</h1>
    <p class="lead">A simple solution provider for all your problems. Just a click away, sign-in and get started</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg btn-danger" href="/auth/google" role="button">Continue with google</a>
    </p>
  </div>
<% include ./partials/footer.ejs %>