<% include ./partials/header.ejs %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Risolto</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/api/current_user">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/askQuestion">Ask Something</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/giveSolution">Give a solution</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logged/profile">Profile</a>
            </li>
          </ul>
          <a href="/api/logout" class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</a>
        </div>
</nav>
<div class="container">
  <br><br>
  <h2 class="text-center">Post an answer or a solution for this question</h2><br><br>
  <div class="border rounded border-primary"><br><br>
    <h3 class="text-center"><%= post.title %></h3>
    <p class="ml-3"><%= post.question %></p><br>
    <form action="/addSolution/<%= post._id %>" method="POST">
      <div class="form-group m-3">
        <label for="solutionText">Your solution</label>
        <textarea class="form-control" id="solutionText" name="solutionText" rows="3"></textarea><br>
        <button type="submit" class="btn btn-sm">Submit</button>
      </div>
    </form>
  </div>
  
</div>
<% include ./partials/footer.ejs %>
